* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #282C33;
  color: #EAEAEA;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.container header {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header h1 {
  background: linear-gradient(90deg, #4AC7FA 0%, #E649F5 100%);
  -webkit-background-clip: text;
  background-color: text;
  -webkit-text-fill-color: transparent;
}

header form {
  display: flex;
  max-width: 324px;
  width: 100%;
}

header form input {
  padding: 16px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px 0 0 4px;
  border: 1px solid transparent;
  border-right-width: 0;
  transition: border-color 0.2s;
}

header form input:hover {
  border-color: #4AC7FA;
}

header form button {
  background: #4AC7FA;
  border-radius: 0 4px 4px 0;
  line-height: 0;
  transition: filter 0.2s;
}

header form button:hover {
  filter: brightness(90%);
}

.container main {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 185px);
}

main h2 {
  background: linear-gradient(90deg, #4AC7FA 0%, #E649F5 100%);
  -webkit-background-clip: text;
  background-color: text;
  -webkit-text-fill-color: transparent;
}

main ul {
  list-style: none;
  margin-top: 32px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

main ul li {
  background-color: #2F2F32;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: all 0.2s;
}

main ul li:hover {
  transform: translateY(-10px) scale(120%);
  border-color: #4AC7FA;
}